.input-normal {
	padding: 8px;
	height: 8vh;
	font-size: 1.25rem;
	border: 1px solid var(--gray);
	border-radius: 4px;
	width: 80%;
	margin: .5rem auto;
}

.input-normal:focus {
	outline: none;
	border: 1px solid var(--primary);
}