:root {
	--primary: #c51f5d;
	--red: #c51f5d;
	--green: #00ba7c;
	--white: #fff;
	--gray: #c2c2c2;
	--gray-dark: #38444d;

	--text-color: var(--white);
	--like-color: var(--red);
	--share-color: var(--green);
	--text-gray: #c2c2c2;
	--hover: #2d3741;
	--background-color: #243447;
	--background-color-dark: #141d26;
} 

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	margin: 0;
	height: 100vh;
	color: var(--white);
	background-color: var(--background-color);
	overflow: hidden;
}

.btn-primary {
	background-color: var(--primary);
	color: var(--white);
	border: 1px solid var(--primary);
	border-radius: 8px;
	padding: 4px;
	font-size: 1.25rem;
	font-weight: 700;
	float: right;
	height: 32px;
	width: 120px;
	margin: .25rem 1rem;
}

.background-icon, .background-icon-small {
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.background-icon {
	width: 40px;
	height: 40px;
}

.background-icon-small {
	width: 30px;
	height: 30px;
}

.background-icon:hover, .background-icon-small:hover {
	background-color: var(--hover);
	border-radius: 50%;
	cursor: pointer;
	color: var(--primary);
	filter: brightness(140%);
}

.icon-big:hover, .icon-small:hover {
	cursor: pointer;
}

.icon-big {
	width: 25px;
	height: 25px;
}

.icon-small {
	position: sticky;
	width: 20px;
	height: 20px;
}

.sidebar-profile-picture {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.sidebar-social-stats {
	display: flex;
}

.sidebar-social-stats > div {
	margin-left: 4px;
}

.sidebar-social-stats > div > span {
	color: var(--text-gray);
}