:root {
	--primary: #c51f5d;
	--white: #fff;
	--hover: #2d3741;
	--background-color: #243447;
	--background-color-dark: #141d26;
} 


* {
	font-family: sans-serif;
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	margin: 0;
	height: 100vh;
	color: var(--white);
	background-color: var(--background-color);
}