.bottom-bar {
	background-color: var(--background-color-dark);
	height: 10vh;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.bottom-bar > ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bottom-bar > ul > li:hover {
	cursor: pointer;
	color: var(--primary);
	filter: brightness(140%);
}