.bottom-bar {
	background-color: var(--background-color-dark);
	height: 10vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom-bar > ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 3rem;
}
