.bottom-bar {
	background-color: var(--background-color-dark);
	height: 10vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-bar > ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 3rem;
}

.bottom-bar > ul > li {
	padding: 4px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-bar > ul > li:hover {
	cursor: pointer;
	color: var(--primary);
	background-color: var(--hover);
	border-radius: 50%;
	filter: brightness(140%);
}

.icon-big {
	width: 25px;
	height: 25px;
}