.top-bar {
	background-color: var(--background-color-dark);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 10vh;
}

.img-profile {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

header > .img-profile {
	margin-left: 1rem;
}

.img-profile:hover {
	cursor: pointer;
}