.citter-message-card {
	border: 1px solid var(--gray-dark);
	padding: 4px;
}

.citter-message-user {
	display: flex;
	align-items: center;
	padding: 4px;
}

.citter-message-user > div + div {
	position: absolute;
	right: 0;
}

.citter-user-info {
	margin-left: 8px;
	display: flex;
}

.citter-user-info > span {
	margin-left: 8px;
	color: var(--text-gray);
}

.font-weight-big {
	font-weight: 700;
}

.social-info-container {
	display: flex;
	justify-content: space-around;
}

.social-item {
	display: flex;
	align-items: center;
}

.icon-small:hover {
	background-color: var(--gray-dark);
}

.social-item > span {
	margin-left: 8px;
}

.social-item-red {
	color: var(--red);
}

.social-item-green {
	color: var(--green);
}

.ml-3 {
	margin-left: 3rem;
}