.img-media-container {
	width: 90%;
	margin: 16px auto;
	padding: 8px;
	display: flex;
	justify-content: center;
	background-color: var(--background-color-dark);
	border-radius: 4px;
}

.img-media-citter {
	width: 90%;
	border-radius: 4px;
}