.myprofile-container, .myprofile-img-container {
	padding: 8px;
}

.myprofile-img-container {
	height: 80px;
	display: flex;
	align-items: center;
}

.btn-edit {
	padding: 8px;
	background-color: var(--background-color);
	color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 8px;
	height: 40px;
	font-weight: 700;
	margin-left: 9rem;
}

.btn-edit:hover {
	cursor: pointer;
}