.sidebar-container {
	width: 80%;
	background-color: var(--background-color-dark);
	height: 100vh;
	padding: 4px;
	box-shadow: var(--background-color-dark) 0px 2px 8px 0px;
}

.hide-side-bar {
	display: none;
}

.sidebar-profile-align {
	display: grid;
	padding: 4px;
	margin: 4px 0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 22px);
	grid-template-areas: "user1 icon" "user2 .";
}

.sidebar-item {
	padding: 4px;
	transition: background-color .1s ease-out;
	border-radius: 4px;
}

.sidebar-item:hover {
	cursor: pointer;
	background-color: var(--background-color);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	filter: brightness(120%);
}

#user1 {
	grid-area: user1;
}

#user2 {
	grid-area: user2;
	color: var(--text-gray);
}

#sidebar-icon {
	grid-area: icon;
	display: flex;
	justify-self: flex-end;
}

.sidebar-flex-center {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	padding: 4px;
}

.sidebar-flex-center > span {
	margin-left: .75rem;
}
