.form-container {
	display: flex;
	height: 80vh;
	align-items: center;
}

.form-card {
	background-color: var(--gray);
	width: 90%;
	height: 50vh;
	margin: 1rem auto;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
